<section>
  <h1>Namelos</h1>

  <ul>
    <% @articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ul>
</section>

<% if logged_in? %>
  <td><%= link_to 'New', new_article_path %></td>
<% end %>
