<section class="article">
  <h1 class="article-title"><%= @article.title %></h1>

  <article class="org-mode">
    <%= org(@article.text) %>
  </article>

  <% if logged_in? %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  <% end %>

  <%= link_to 'Back', articles_path %>
</section>


